@media only screen and (max-width: 950px) {
  .lift-content {
    z-index: 16;
    width: 100%!important;
  }
  .right-content {
    visibility: hidden!important;
    width: 0px!important;
  }
}
.lift-content {
  float: left;
  width: calc(100% - 300px);
}
.right-content {
  float: right;
  width: 290px;
}