.edit-topic-body {
  width: 90%;
  min-height: calc(100vh - 100px);
  margin: 10px auto;
  .lift-content {
    .box-card {
      margin-bottom: 10px;
      .el-card__header {
        padding: 8px 20px;
        padding-bottom: 0;
        .card-title {
          .el-page-header {
            height: 40px;
            line-height: 40px;
            .el-page-header__content {
              font-size: 14px;
            }
          }
        }
        .card-replies-title {
          height: 40px;
          line-height: 40px;
          font-size: 14px;
        }
      }
      .el-card__body {
        padding-top: 0px;
        .edit-topic {
          .edit-skeleton {
            margin: 10px auto;
          }
          .edit-form {
            margin-top: 10px;
            .el-form-item.is-last {
              margin-bottom: 0px;
            }
            .el-form-item.is-error {
              .tox-tinymce {
                border: 1px solid var(--el-color-danger);
              }
            }
          }
        }
      }
    }
  }
}