.body-footer {
  clear: both;
  width: 100%;
  height: 82px;
  background-color: white;
  color: #ababab;
  .footer-content {
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px;
    text-align: center;
  }
}