.detail-body {
  width: 90%;
  min-height: calc(100vh - 100px);
  margin: 10px auto;
  .lift-content {
    .box-card {
      margin-bottom: 10px;
      .el-card__header {
        padding: 8px 20px;
        padding-bottom: 0;
        position: relative;
        .card-title {
          .el-page-header {
            height: 40px;
            line-height: 40px;
            .el-page-header__content {
              font-size: 14px;
            }
          }
        }
        .edit-topic-btn {
          position: absolute;
          right: 20px;
          top: 8px;
        }
        .card-replies-title {
          height: 40px;
          line-height: 40px;
          font-size: 14px;
        }
      }
      .el-card__body {
        padding-top: 0px;
        .my-topic {
          .detail-skeleton {
            margin: 10px auto;
          }
          .topic-title {
            float: left;
            width: 100%;
            border-bottom: 1px solid #e5e5e5;
            padding-top: 6px;
            .title-left {
              width: calc(100% - 60px);
              float: left;
              .topic-title-tab {
                padding-top: 4px;
                width: 90px;
                float: left;
              }
              .title-name {
                width: calc(100% - 90px);
                font-size: 20px;
                font-weight: bold;
                float: right;
              }
              .topic-title-desc {
                clear: both;
                font-size: 16px;
                color: #838383;
                margin-top: 4px;
                margin-bottom: 6px;
                span {
                  margin-right: 10px;
                }
              }
            }
            .title-right {
              width: 60px;
              float: right;
              text-align: right;
              .el-button {
                padding: 10px;
                .el-icon {
                  width: 20px;
                  height: 20px;
                  svg {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
          .topic-content {
            clear: both;
            padding-top: 2px;
            img  {
              max-width: 100%;
            }
            p {
              word-wrap: break-word;
              word-break: break-all;
              white-space: pre-line;
            }
          }
        }
        .replie-item {
          border-bottom: 1px solid #e5e5e5;
          padding-top: 8px;
          position: relative;
          .replie-user-img {
            margin: 5px;
            width: 40px;
            height: 40px;
            float: left;
          }
          .replie-title {
            width: calc(100% - 50px);
            float: left;
            font-size: 18px;
            font-weight: bold;
            height: 30px;
            line-height: 30px;
          }
          .replie-up,
          .replie-icon {
            position: absolute;
            top: 8px;
          }
          .replie-up {
            right: 34px;
            width: auto;
            > span {
              display: inline-block;
              height: 24px;
              line-height: 24px;
            }
          }
          .up-icon {
            margin-right: 4px;
            background: url(~@/assets/svg/ups.svg) no-repeat;
          }
          .replie-icon {
            right: 0;
            background: url(~@/assets/svg/replies.svg) no-repeat;
          }
          .icon {
            display: inline-block;
            vertical-align: top;
            width: 24px;
            height: 24px;
            background-size: 100% 100%;
            cursor: pointer;
          }
          .replie-desc {
            width: calc(100% - 50px);
            float: left;
            font-size: 12px;
            color: #b4b4b4;
          }
          .replie-content {
            clear: both;
            img  {
              max-width: 100%;
            }
            p {
              word-wrap: break-word;
              word-break: break-all;
              white-space: pre-line;
            }
          }
          .replie-edit-wrapper {
            margin-bottom: 10px;
          }
        }
        .replies-form {
          margin-top: 16px;
          .tox-tinymce {
            .tox-editor-header {
              margin-top: -2px;
            }
          }
          .el-form-item.is-last {
            margin-bottom: 0px;
          }
          .el-form-item.is-error {
            .tox-tinymce {
              border: 1px solid var(--el-color-danger);
            }
          }
        }
      }
    }
  }
}