.login-body {
  height: calc(100vh - 50px - 82px - 40px);
  width: 90%;
  position: relative;
  margin: 20px auto;
  background: url('~@/assets/images/login-bg.jpeg') no-repeat;
  background-size: 100% auto;
  background-position: 0 center;
  .login-slogan {
    display: inline-block;
    font-size: 24px;
    padding: 30px;
  }
  .box-card {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 28%;
    background: rgba(255, 255, 255, 0.9);
    .el-card__header {
      padding: 8px 20px;
      padding-bottom: 0;
      .login-title {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
      }
    }
    .el-card__body {
      .login-form {
        min-width: 200px;
        margin: 20px auto;
        .login-btn,
        .cencel-btn {
          width: 100%;
        }
        .login-btn {
          margin-top: 40px;
        }
        .cencel-btn {
          margin-top: 20px;
          margin-left: 0;
        }
      }
    }
  }
}